* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.8em;
}

a { 
  color: #333;
  text-decoration: none;
}

h1, h2, h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

/* Use Them Everywhere */

.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}

.crl {
  clear: both;
}

.text-primary {
  color: darkgreen;
}

.an {
  color: olivedrab;
}

.ann {
  color: rgb(18, 110, 58);
}

.Bigger-P {
  font-size: 20px;
}

.btn {
  display: inline-block;
  font-size: 19px;
  color: black;
  background: olivedrab;
  padding: 12px 16px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.btn:hover {
  background: darkgreen;
  color: #fff;
}

.btn-light {
  background: #f4f4f4;
  color: black;
}

.bg-dark {
  background: #2E2E2E;
  color: #fff;
}

.bg-dark2 {
  background: #EB6D33;
  color: #2E2E2E;
}

.bg-darkk {
  background: #333;
  color: #fff;
}

.bg-light {
  background: #f4f4f4;
  color: #2E2E2E;
}

.Large-Heading {
  font-size: 38px;
}

/* padding */

.padding-Y1 { padding: 10px 0; }
.padding-Y2 { padding: 20px 0; }
.padding-Y3 { padding: 30px 0; }

/* navbar */

#navbar {
  background-color: #2E2E2E;
  color: #fff;
  overflow: auto;
}

#navbar a {
  color: #fff;
}

#navbar h1 {
  float: left;
  padding-top: 20px;
}

#navbar ul { 
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
  background: #EC6D42;
  color: black;
}

/* showcase */

#showcase {
  background: url('/img/resort.jpg') no-repeat center center/cover;
  height: 590px;
}

#showcase .showcase-content {
  color: #fff;
  text-align: center;
  padding-top: 135px;
}

#showcase .showcase-content h1 {
  font-size: 55px;
  line-height: 1.1em;
}

#showcase .showcase-content p { 
  padding-bottom: 18px;
  line-height: 1.6em;
}

/* home info section */

#home-info {
  height: 400px;
}

#home-info .info-img {
  float: left;
  width: 50%;
  background: url('../img/resort\ bcj.jpg')center center/cover no-repeat;
  min-height: 100%;
}

#home-info .info-content {
  float: right;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 52px 28px;
}

#home-info .info-content p {
  padding-bottom: 18px;
}

/* Features */

.box {
  float: left;
  width: 33.33%;
  padding: 40px;
  text-align: center;
}

.box i {
  margin-bottom: 8px;
}

/* About Page */

#about-info .info-right {
  float: right;
  width: 50%;
  min-height: 100%;
}

#about-info .info-right img {
  display: block;
  margin: auto;
  width: 70%;
  border-radius: 6%;
}

#about-info .info-left {
  float: left;
  width: 50%;
  min-height: 100%;
}

/* testimonials */

#testimonials {
  height: 600px;
  background: url('/img/architecture-boats-buildings.jpg') no-repeat center center/cover;
  padding-top: 90px;
}

#testimonials h2 {
  color: #2E2E2E;
  text-align: center;
  padding-bottom: 38px;
}

#testimonials .testimonial {
  padding: 20px;
  margin-bottom: 42px;
  border-radius: 6px;
  opacity: 0.94;
}

#testimonials .testimonial img {
  width: 70px;
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

/* Contact Form */

#contact-form .form-group {
  margin-bottom: 22px;
}

#contact-form label {
  display: block;
  margin-bottom: 4px;
}

#contact-form input, 
#contact-form textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
}

#contact-form textarea {
  height: 195px;
}

#contact-form input:focus, 
#contact-form textarea:focus {
  outline: none;
  border-color: #EB6D33;
}


/* main footer */

#main-footer { 
  text-align: center;
  background: #2E2E2E;
  color: #f4f4f4;
  padding: 6px;
}



